---
import Products from './Products'
---
<section class="bg-primary py-[5.5rem] px-20 pt-36  " style={{zIndex: '-1'}}>
  
    <div class="text-3xl flex-col flex gap-10 items-center z-50 font-oswald">

        
          <Products client:load client:only/>

        <div class="flex"></div> 
        </div>
</section>

<script>

</script>

<!-- <div class="text-4xl flex-col flex gap-10">
    <div class="flex gap-5 flex-col justify-center items-center text-center">
      <h2 class=" text-primary text-3xl font-TekoLight">WHAT WE OFFER</h2>
      <hr class="w-44 text-primary"></hr>
      <p class="font-TekoMedium px-60">
        WE HAVE BEEN PROCESSING STEEL FOR OVER 25 YEARS
      </p>
    </div>
    {/* Products */}
    <section class="flex  justify-center gap-10 width-4xl transition-transform overflow-scroll">
      {children}
    </section>
  </div>
  <div class="flex"></div> -->