---
import reviewShowCaseImg from '../../assets/homepage1_bg-3.jpg'
import Reviews from './Reviews'
---

<section class=" pl-[10%] border-t-secondary  border-b-secondary border-b-2 flex gap-32 review-show-case text-center " style={`background-image: url(${reviewShowCaseImg.src}); background-size: cover;`}>
    <Reviews client:load/>
</section>
