---
import { Image } from "astro:assets"
import img from "../../assets/about-header.jpg"
---
<div class="flex justify-center pt-14">
<Image width={img.width} height={img.height} src={img} loading="lazy" decoding="async" alt="forward" class="w-[90vw] lg:w-[1090px]" quality={50}>
</div>
