---
import CoringRigDetails from "./coringRigDetails.astro";
import CoringRigTable from './coringRigTable.astro';
---

<div class="flex justify-center w-[90vw] lg:w-[1090px] my-32 text-sixth gap-36 flex-col">
    <article class="flex lg:flex-row flex-col lg:gap-36 gap-10">
    <h2 class="text-7xl uppercase font-oswaldBold">FULL HYDRAULIC RIG</h2>
    <p class="font-oswaldLight text-xl">FORWARD'S new C6 si a compact crawler mounted rig with all the user friendly functions drillers are looking for and all at their fingertips.. The rigs are built under strict quality control protocols and are rigorously tested before dispatch.
        The C6 has been built with reliability inmind and is assembled using only the very best first-world components such as Sauer Danfoss pumps and PVG valves, Danfoss and Eaton hydraulic motors, Manuli Hoses and Cummins engines.</p>
</article>
    <CoringRigDetails />
    <CoringRigTable />
</div>