<table class="w-[90vw] lg:w-[1090px] text-center font-oswald border-b-2 border-primary">
    <thead>
      <tr class="text-secondary bg-primary ">
        <th class="" />ROD SIZE</th>
        <th colspan="2" class="w-[80%]"/>MUD FIllED HOLE</th>
      </tr>
      <tr class="bg-slate-100">
        <th class="text-left" style={{paddingLeft: '30px'}}>DRILL Rod/Core Barrel</th>
        <th>Hole Depth (Meters)</th>
        <th>Hole Depth (Feet)</th>
      </tr>
     </thead>
     <tbody>
       <tr >
         <td class="text-left bg-slate-200 border-b border-white" style={{paddingLeft: '60px'}}>BRQ/BQ</td>
         <td class="border-b border-b-stone-500">2009</td>
         <td class="border-b border-b-stone-500">6590</td>
       </tr>
       <tr>
         <td class="text-left bg-slate-200 border-white border-b" style={{paddingLeft: '60px'}}>BRQT/BQTK</td>
         <td class="border-b border-b-stone-500">2504</td>
         <td class="border-b border-b-stone-500">8215</td>
       </tr>
       <tr>
         <td class="text-left bg-slate-200 border-b border-white" style={{paddingLeft: '60px'}}>NRQ/NQ/NQ2</td>
         <td class="border-b border-b-stone-500">1534</td>
         <td class="border-b border-b-stone-500">5032</td>
       </tr>
       <tr>
        <td class="text-left bg-slate-200 border-b border-white" style={{paddingLeft: '60px'}}>NRQ V-WALL</td>
        <td class="border-b border-b-stone-500">1721</td>
        <td class="border-b border-b-stone-500">5666</td>
      </tr>
      <tr>
        <td class="text-left bg-slate-200 border-b border-white" style={{paddingLeft: '60px'}}>HRQ/HQ</td>
        <td class="border-b border-b-stone-500">1299</td>
        <td class="border-b border-b-stone-500">4261</td>
      </tr>
      <tr>
        <td class="text-left bg-slate-200 border-b border-white" style={{paddingLeft: '60px'}}>HRQ V-WALL</td>
        <td class="border-b border-b-stone-500">1390</td>
        <td class="border-b border-b-stone-500">4560</td>
      </tr>
      <tr>
        <td class="text-left bg-slate-200 border-b border-white" style={{paddingLeft: '60px'}}>PHD/PQ</td>
        <td class="border-b border-b-stone-500">980</td>
        <td class="border-b border-b-stone-500">3215</td>
      </tr>
      <tr>
        <td class="text-left bg-slate-200 border-b border-white" style={{paddingLeft: '60px'}}>HRQ V-WALL</td>
        <td class="border-b border-b-stone-500">1100</td>
        <td class="border-b border-b-stone-500">3608</td>
      </tr>
    </tbody>
  </table>

  <style>
  table, th, td {
    margin: auto;
    padding: 6px;
    border-collapse: collapse;
}
</style>