---
import img1 from '../../assets/blog-1.jpg'
import img2 from '../../assets/blog-2.jpg'
import img3 from '../../assets/blog-3.jpg'
---
<div class="flex lg:gap-8 gap-28 flex-col lg:flex-row text-sixth font-oswaldLight">
    <div class="flex  flex-col gap-6 flex-1">
        <div class="relative z-20">
            <div class="absolute top-0 left-0 right-0 bottom-0 bg-black rounded-xl bg-opacity-40 flex justify-center items-center">
                <div class="bg-primary h-12 w-1 mr-2"></div>
                <h4 class="text-4xl font-oswaldBold uppercase text-white">Control panel</h4>
        </div>
        <img src={img1.src} alt="img1" class="rounded-xl">
    </div>
        <ul class="list flex flex-col gap-3">
            <li><i class="bi bi-caret-right-fill text-primary"></i>
                The 2 Speed Rotation Head can accept al sizes of coring rods up to PQ.</li>
            <li>
                <i class="bi bi-caret-right-fill text-primary"></i>
                Patented chuck jaws and hydraulic opening/spring close function insures a fail-safe operation.</li>
            <li>
                <i class="bi bi-caret-right-fill text-primary"></i>
                The Rotation Head is connected direct to the hydraulic feedcylinder which simplifies the whole mast design and minimizes maintenance.</li>
            <li><i class="bi bi-caret-right-fill text-primary"></i>  The Rotation Head also slides off to the side and opensthe whole mast up to run casing or pull tubes etc.</li>
        </ul>
    </div>
    <div class="flex flex-col gap-6 flex-1">
        <div class="relative z-20">
            <div class="absolute top-0 left-0 right-0 bottom-0 bg-black rounded-xl bg-opacity-40 flex justify-center items-center">
                <div class="bg-primary h-12 w-1 mr-2"></div>
                <h4 class="text-4xl font-oswaldBold uppercase text-white">Features</h4>
        </div>
        <img src={img1.src} alt="img1" class="rounded-xl">
    </div>

            <ul class="list flex flex-col gap-3">
                <li><i class="bi bi-caret-right-fill text-primary "></i>
                    When the rig is shutdown or being transported the Control Panel can be locked to prevent damage or vandalism.</li>
                <li>
                    <i class="bi bi-caret-right-fill text-primary"></i>
Both the Rotation and Fine Feed controls are fitted with friction dampeners with positive and easy to find neutral positions..</li>
                <li>
                    <i class="bi bi-caret-right-fill text-primary"></i>
                    There is an auto alarm function for low level of hydraulic oil</li>
                <li><i class="bi bi-caret-right-fill text-primary"></i> 
                    All the gauges are conveniently located for ease of monitoring
                </li>
            </ul>
    </div>
    <div class="flex flex-col gap-6 flex-1">
        <img src={img1.src} alt="img1" class="rounded-xl">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eos blanditiis doloremque consequatur tempore omnis vel unde voluptatem pariatur nisi quam quia dignissimos, maxime sapiente hic assumenda in? Quod veniam, architecto praesentium error itaque cupiditate delectus exercitationem mollitia at quam, voluptate totam deleniti nesciunt dolorum distinctio reiciendis atque sunt facilis ratione alias ex consectetur repudiandae! Atque necessitatibus voluptas culpa praesentium? Minus necessitatibus dolores sed quibusdam, nostrum accusantium quo maiores veniam ad ratione velit, nulla reprehenderit voluptatum expedita sunt aspernatur omnis.</p>
    </div>
</div>
