---
import DecorImg from "../ui/DecorImg.astro";
import ServiceLink from "../ui/ServiceLink.astro";
import InfiniteScrollIcons from '../ui/InfiniteScrollIcons'

---
<section class="  bg-tertiary py-[5.5rem] px-10 lg:px-20 border-t-secondary  pb-52 md:pb-64 lg:pb-72 flex flex-col justify-center gap-11 text-forth relative " style={{zIndex: '1'}}>
    
		<div class="w-full h-48 top-0 bg-secondary absolute right-0 left-0" style={{zIndex: '0'}}></div>
    <div class="flex flex-col lg:flex-row gap-20 justify-center" style={{zIndex: '3'}}>
    <div class="flex flex-col  justify-end  gap-6 py-2  lg:py-10 lg:w-[30rem] order-2 lg:order-1 ">
        <div>
            <h2 class=" text-primary text-3xl font-TekoLight">PARTNERSHIP</h2>
            <hr class="w-44 text-primary"></hr>
        </div> 
        <p class="font-TekoMedium text-3xl">
            OUR INDUSTRY COMPETENCE
          </p>
          <p class="font-TekoMedium">The input material for the recovery process consists of sintered hard tungsten carbide scrap, as well as soft scrap such as powders.</p>

    </div>
    <div class="z-10 order-1 ">
        <DecorImg />
    </div>
    </div>
    <InfiniteScrollIcons client:load />
</section>
