---
import back from '../assets/back.svg'
---
<section class=" flex justify-center items-center h-[600px] relative bg-secondary " slot="aboutHeaderContent">
    <article class="absolute top-0 right-0 bottom-0 left-0 grid place-content-center text-center z-10 ">
    <h2 class="text-4xl text-sixth font-oswaldBold mb-5">OUR STORY</h2>
    <p class="text-sixth w-[60vw] max-w-[700px] font-oswaldLight" style={{letterSpacing: '1px'}}>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam consequatur perferendis laboriosam cupiditate harum minima suscipit molestias, dicta, ratione totam explicabo, modi quam dolorum illo itaque nisi! Similique est temporibus laboriosam voluptatibus quam at velit maiores recusandae, tempore sit. Tenetur.</p>
    </article>
    <img src={back.src} alt="back" aria-hidden="true" class="w-[430px]  rotate-90">
  </section>