---
import {GalleryImages} from '../ui/Gallery'
---
<section class="bg-primary py-[5.5rem] flex gap-32 relative project-showcase ">
    <GalleryImages client:load client:only/>
    <div class="bg-secondary w-full h-[306px] absolute bottom-0"></div>
</section>