<table
  class="text-2xl w-full text-center font-oswaldLight border-black border border-collapse"
>
  <thead class="font-bold text-secondary bg-red-700">
    <tr>
      <th rowspan="2" class="text-3xl">SIZE</th>
      <th colspan="2">OUTER DIAMATER</th>
    </tr>
    <tr>
      <th class="text-lg">MM</th>
      <th class="uppercase text-lg">inch</th>
    </tr>
  </thead>
  <tbody>
    <tr style={{ background: "#aaa3a2" }}>
      <td>BW</td>
      <td>60,97</td>
      <td>2.365</td>
    </tr>
    <tr>
      <td>NW</td>
      <td>75,82</td>
      <td>2,985</td>
    </tr>
    <tr style={{ background: "#aaa3a2" }}>
      <td>HW</td>
      <td>96,27</td>
      <td>3,790</td>
    </tr>
    <tr>
      <td>PW</td>
      <td>122,81</td>
      <td>4,835</td>
    </tr>
  </tbody>
</table>
<style>
  th,
  td {
    border: 2px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  td {
    font-size: 20px;
  }
</style>
