---
import MainLayout from '../layouts/MainLayout.astro'
import ContactsContent from '../components/Contacts/ContactsContent.astro'
import ContactForm from '../components/Contacts/ContactForm'
import Header from '../components/ui/Header.astro'
---

<MainLayout title="Contacts | sav-ghateh">
  <Header title="contacts" bgUrl="../../assets/cont.png" slot='header'/>
  <ContactsContent slot='contactsContent'/>
  <div class="w-full h-full flex justify-center items-center pb-20 bg-secondary lg:mt-0 pt-20 lg:pt-0" slot="contactsForm">
  <ContactForm client:load client:only/>
</div>
</MainLayout>
