---
import MainLayout from '../layouts/MainLayout.astro'
import Loader from '../components/ui/Loader.astro'
import ContactsContent from '../components/Contacts/ContactsContent.astro'
import ContactForm from '../components/Contacts/ContactForm'
---

<MainLayout title="sav-ghateh (Contacts)">
  <Loader slot='loader'/>
  <header
    class="text-xl flex flex-col    lg:pt-0 font-oswald h-[500px] lg:pl-56 pl-6 sm:pl-12  w-full"
    slot="header"
    style={{ paddingTop: '12rem' }}
  >
  <h1 class="sm:text-8xl text-6xl uppercase font-oswaldBold mt-10">Contacts</h1>
  </header>
  <ContactsContent slot='contactsContent'/>
  <div class="w-full h-full flex justify-center items-center pb-20 bg-secondary lg:mt-0 pt-20 lg:pt-0" slot="contactsForm">
  <ContactForm client:load client:only/>
</div>
</MainLayout>

<style>
    header {
        background: url('../assets/cont.png');
        background-size: cover;
        object-fit: cover;
    }
</style>