---
import MainLayout from '../layouts/MainLayout.astro';
import homePage from '../assets/hompage.jpg'
import Navbar from '../components/header/NavbarLayout.astro'
import HeaderContent from '../components/header/HeaderContent.astro';
import ProductShowCaseContents from '../components/ProductShowCase/ProductShowCaseContents.astro'
---

<MainLayout title="Lantan">
	
	<header class="h-screen text-xl flex flex-col" slot="header">

		<HeaderContent />
	</header>
	
	<section slot="productsShowCase">
		<ProductShowCaseContents />
	</section>
</MainLayout>

<style>
	header {
		background-image:  radial-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)), url(../assets/hompage.jpg);
		background-size: cover;
		background-position: right;
	}
</style>
