---
import MainLayout from '../layouts/MainLayout.astro'
import ProductPageContent from '../components/ProductShowCase/ProductPageContent.astro'
import ProductHeader from '../components/header/ProductHeader.astro'
import Loader from '../components/ui/Loader.astro'
---

<MainLayout title="sav-ghateh (products)">
  <Loader slot='loader'/>
  <header
    class="text-xl flex flex-col bg-secondary justify-center  lg:pt-0"
    slot="header"
    style={{ paddingTop: '12rem' }}
  >
  <div class="mt-[230px]">
    <ProductHeader />
  </div>
  </header>
  <ProductPageContent slot="productsShowCase2"/>
</MainLayout>