---
import MainLayout from '../layouts/MainLayout.astro'
import ProductPageContent from '../components/ProductShowCase/ProductPageContent.astro'
import ProductHeader from '../components/header/ProductHeader.astro'
---

<MainLayout title="Proucts | sav-ghateh">
  <header
    class="text-xl flex flex-col bg-secondary justify-center  lg:pt-0 font-oswald"
    slot="header"
    style={{ paddingTop: '12rem' }}
  >
  <div class="mt-[230px] lg:mt-0">
    <ProductHeader />
  </div>
  </header>
  <ProductPageContent slot="productsShowCase2"/>
</MainLayout>