---
import MainLayout from '../layouts/MainLayout.astro'
import ProductPageContent from '../components/ProductShowCase/ProductPageContent.astro'
import ProductHeader from '../components/header/ProductHeader.astro'
import MetaTags from '../metaTags/MetaTags'
---

<MainLayout title="Proucts | sav-ghateh">
  <MetaTags pageTitle={"Sav Ghateh -  Our Discovering products, with unmatched quality"} description={"We have the dicovering tools you need, with unmatched quailty in the market, and great performance, we offer a wide range of discovering tools, have a look. "} lang={'en'} facebookImg={""} faceBookUrl={''} keywords={"drilling tools products, sav ghateh products, discovering tools, buy discovering tools, good quality discovering tool, ساو قطعه, خرید لوازم معدن, gold mining, buy mining tools, mining tools, good quality mining tools, buy discovering tools"} slot="metaTags"/>
  <header
    class="text-xl flex flex-col bg-secondary justify-center  lg:pt-0 font-oswald"
    slot="header"
    style={{ paddingTop: '12rem' }}
  >
  <div class="mt-[230px] lg:mt-0">
    <ProductHeader />
  </div>
  </header>
  <ProductPageContent slot="productsShowCase2"/>
</MainLayout>