---
import { Image } from 'astro:assets'
import machineImg from '../../assets/machine.png'

---

<section class="bg-secondary flex items-end pt-10 lg:h-[650px] lg:pl-44 pl-6 sm:pl-12 gap-5 lg:pb-20">
    <div class="text-sixth pb-20">
        <h2 class="text-6xl font-oswaldBold uppercase mb-7">C6 CORE DRILL RIG</h2>
        <p class="text-xl font-oswaldLight">
            The FORWARD GROUP has launched the first of its new range of CORING rigs for the Mineral Exploration industry.
            The C6 Coring Rig
            is the result of a collaboration between seasoned field personnel and our own
            technical design team which includes Australian and German consultants.
        </p>
    
    </div>
    <Image src={machineImg} quality={80} loading="lazy" alt="machine" class="w-[250px] lg:w-[730px] z-10 hidden lg:block" width={machineImg.width} height={machineImg.height} decoding='async'/>
</section>
