---
import LinkButton from "../ui/LinkButton.astro";
import Title from "../ui/Title.astro";
import Info from '../ui/Info.astro'


---
<section class="w-screen overflow-hidden flex flex-col gap-3 ">

</section>
