---
const {text} = Astro.props;
const link = text === 'Home' ? '/' : `/${text}`
---
<li class="text-secondary hover:text-primary transition-colors ">
    <a href={link} class="flex gap-2 nav-link border-b-2 border-transparent pb-2 w-24" >

        <span>
        {text}
    </span>
    </a>
</li>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const currentPath = window.location.pathname;
      const links = document.querySelectorAll(".nav-link");
      links.forEach(function (link) {
        if (link.getAttribute("href") === currentPath) {
          link.classList.add("active");
        }
      });
    });
  </script>
  <style>
    .active {
        border-bottom: 2px solid theme(colors.secondary);
    }
  </style>