---
import Logo from '../ui/Logo.astro'
import NavToggleBtn from './NavToggleBtn'
import NavBtn from './NavToggleBtn'
import Navbar from './Navbar'
import NavbarLinks from './NavbarLinks.astro'
---
<Navbar client:load client:only>
    <section class="flex justify-center items-center  pr-32 gap-4  pl-5 ">
        <Logo />
        <NavbarLinks/>
    </section>
    <div class="flex-1"></div>
</Navbar>
<style>
.shadowed-element {
    box-shadow: inset 0px 15px 30px -15px theme('colors.tertiary');
}
</style>