---
const {text} = Astro.props;
const link = text === 'Home' ? '/' : `/${text.toLowerCase()}`
---
<li class="transition-colors inline-block ">
    <a href={link} class="flex border-b-2 border-transparent   flex-col nav-link mr-5">

        <span>
        {text}
      </span>
      <hr class="w-full transition-transform"/>
    </a>
</li>

  <style>
    .nav-link > hr {
      transform-origin: left;
      transform: scaleX(0);
    }
    .nav-link:hover > hr {
      transform: scaleX(1)
    }
    .active > hr {
        transform: scaleX(1)
    }
  </style>