---
const {text} = Astro.props;
const link = text === 'Home' ? '/' : `/${text.toLowerCase()}`
---
<li class="transition-colors ">
    <a href={link} class="flex border-b-2 border-transparent w-20 xl:w-24  flex-col nav-link">

        <span>
        {text}
      </span>
      <hr class="w-full hover:scale-x-100 transition-transform"/>
    </a>
</li>

  <style>
    .nav-link > hr {
      transform-origin: left;
      transform: scaleX(0);
    }
    .nav-link:hover > hr {
      transform: scaleX(1)
    }
    .active > hr {
        transform: scaleX(1)
    }
  </style>