---
import machineImg from '../../assets/machine.png'
import back from '../../assets/back.svg'
---

<div class="pl-5 text-sixth flex relative bg-primary justify-center gap-5">
    <div class="absolute top-0 right-0 left-0 bg-slate-800 p-40 w-screen"></div>
  <div class="gap-7 flex flex-col z-20 justify-between py-28 items-center relative px-16">
    <div >
      <h1 class="text-9xl">PRODUCTS</h1>
      <p class="text-xl text-primary font-TekoLight font-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
        eius.
      </p>
    </div>
    <div >
      <h2 class="text-8xl text-secondary mb-5">CORING RIG</h2>
      <button class="bg-black p-3 pr-28 flex justify-center items-center text-white">
        Read More
      </button>
    </div>
    <img src={back.src} alt="back" class="absolute bottom-0 top-0  -z-10 opacity-50 h-full w-full " >
  </div>
  <div class="z-10 w-[700px] ">
    <img src={machineImg.src} alt="machine" />
  </div>
</div>
