---
import machineImg from '../../assets/machine.png'
import back from '../../assets/back.svg'
import { Image } from 'astro:assets'
---

<div class="pl-5 text-sixth flex relative bg-primary justify-center ">
    <div class="absolute top-0 right-0 left-0 bg-secondary p-10  lg:p-40 w-screen"></div>
  <div class="lg:gap-7 flex flex-col z-20 justify-between py-32 pb-10 gap-72 lg:py-28 items-center relative px-16  z-50">
    <div class="p-3 lg:p-0 bg-opacity-45 -mt-[21rem] lg:-mt-0 lg:ml-28">
      <h1 class="lg:text-8xl text-5xl font-oswaldBold mb-5 ">PRODUCTS</h1>
      <p class="text-xl  text-primary  font-light font-oswald lg:pr-8">
        We offer a comprehensive range of exploration drilling components.
      </p>
    </div>
    <div class="pt-24 lg:pt-0">
      <h2 class="lg:text-7xl text-5xl text-secondary mb-5 ">CORING RIG</h2>
      <a class="bg-black p-3 pr-28 flex justify-center items-center text-white hover:bg-white hover:text-primary transition-colors w-[250px]" href="/products/coringrig">
        Read more
      </a>
    </div>
    <Image width={back.width} height={back.height} quality={5} loading='lazy' src={back} alt="back" class="absolute bottom-0 top-0  -z-10 opacity-50 h-full w-full " >
  </div>
  <div class="z-10 lg:w-[700px]  absolute md:w-[400px] lg:static ">
    <Image quality={40} src={machineImg} alt="machine" class="w-[250px] lg:w-auto " />
  </div>
</div>
