---
import SocialMediaLinks from "../ui/SocialMediaLinks";
import StaticMap from '../../components/ui/StaticMap'
---

<footer class="bg-sixth  py-[5.5rem] px-20 border-t-secondary  flex justify-center  flex-col gap-10 lg:flex-row items-center lg:items-start ">

    <strong class="text-8xl border-l-2 border-red-600 pl-4 mr-5 flex flex-col text-center lg:text-left" style={{letterSpacing: '10px'}}> <span class="h-20">SAV </span>
       <span > CO. </span></strong>
    <div class="flex flex-col gap-2 px-5 text-xl w-60 text-center lg:text-left ">
        <strong class="text-xl text-primary">WE ARE HERE</strong>
        <p>4517 Washington Ave. Manchester, Kentucky 39495</p>
        <p >3517 W. Gray St. Utica, Pennsylvania 57867</p>
    </div>
    <div class="flex flex-col gap-2 px-5 text-xl  font-TekoLight w-60 text-center lg:text-left">
        <strong class="text-2xl text-primary">OUR CONTACT</strong>
        <p >+1 800 123 456 789</p>
        <p>Lantan@gmail.com</p>
        <div class="flex gap-3  mt-5 justify-center lg:justify-start">
            <SocialMediaLinks />
        </div>

    </div>
    <StaticMap />
</footer>