<div class="z-20 bg-[#b92930] px-2 lg:px-10 py-3 pr-28">
  <table class="text-secondary">
    <tr style={{ borderBottom: "2px dotted white" }}>
      <th
        class="font-oswaldBold font-bold text-xl px-5 bg-neutral-400 text-secondary"
      >
        H1</th
      >
      <td class="font-oswaldLight text-xl w-56 pl-2 uppercase">Bit size</td>
    </tr>

    <tr style={{ borderBottom: "2px dotted white" }}>
      <th
        class="font-oswaldBold font-bold text-xl px-5 bg-neutral-400 text-secondary"
      >
        D709</th
      >
      <td class="font-oswaldLight text-xl w-56 pl-2 uppercase">BIT SERIE</td>
    </tr>

    <tr style={{ borderBottom: "2px dotted white" }}>
      <th
        class="font-oswaldBold font-bold text-xl px-5 bg-neutral-400 text-secondary"
      >
        S8</th
      >
      <td class="font-oswaldLight text-xl w-56 pl-2 uppercase"
        >waterway type / qty of ww</td
      >
    </tr>

    <tr style={{ borderBottom: "2px dotted white" }}>
      <th
        class="font-oswaldBold font-bold text-xl px-5 bg-neutral-400 text-secondary"
      >
        0120</th
      >
      <td class="font-oswaldLight text-xl w-56 pl-2 uppercase">product date</td>
    </tr>

    <tr style={{ borderBottom: "2px dotted white" }}>
      <th
        class="font-oswaldBold font-bold text-xl px-5 bg-neutral-400 text-secondary"
      >
        098</th
      >
      <td class="font-oswaldLight text-xl w-56 pl-2 uppercase">sequence no</td>
    </tr>
  </table>
</div>
