<table
  class="mt-2 w-[610px]"
  style={{ borderSpacingY: "30px", borderCollapse: "separate" }}
>
  <tr class="border-b border-b-black">
    <th
      class="text-3xl px-[.35rem] bg-[#555555] text-secondary uppercase font-oswaldBold"
    >
      <p class="-mb-1">R1-4</p>
      <p class="text-sm uppercase">
        <span class="block -mb-1">SOFT</span>
        <span>medium </span>
      </p>
    </th>
    <td class="relative border-b border-[#555]">
      <p class="font-oswald mb-5 uppercase ml-2">
        <span class="block -mb-1">
          Soft to medium very abrasive to slightly abrasive, very fractured to
        </span>
        slightly broken
      </p>
      <div class="bottom-0 left-1 bg-[#939598] w-[200px] h-6 absolute"></div>
    </td>
  </tr>

  <tr class="border-b border-b-black">
    <th
      class="text-3xl px-[.35rem] bg-[#f47221] text-secondary uppercase font-oswaldBold"
    >
      <p class="mb-1">R 3-5</p>
      <p class="text-sm mb-2 uppercase">
        <span>medium </span>
      </p>
    </th>
    <td class="relative border-b border-[#555]">
      <p class="font-oswald mb-5 uppercase ml-2">
        Medium abrasive moderately broken to slightly broken
      </p>
      <div class="bottom-0 left-[5.4rem] bg-[#EE7E31] w-[170px] h-6 absolute">
      </div>
    </td>
  </tr>

  <tr class="border-b border-b-black">
    <th
      class="text-3xl px-[.35rem] bg-[#ED2625] text-secondary uppercase font-oswaldBold"
    >
      <p class="-mb-1">R 3-7</p>
      <p class="text-sm uppercase">
        <span class="block -mb-1">MEDIUM</span>
        <span>HARD</span>
      </p>
    </th>
    <td class="relative border-b border-[#555]">
      <p class="font-oswald mb-6 absolute top-0 uppercase ml-2">
        <span class="block -mb-2 pt-1">
          Medium to hard moderately abrasive,
        </span>
        Moderately fractured, to slightly broken
      </p>
      <div class="left-48 bg-[#ED2626] w-[60px] bottom-0 h-6 absolute"></div>
    </td>
  </tr>
  <tr class="border-b border-b-black">
    <th
      class="text-3xl px-[.35rem] bg-[#ED2625] text-secondary uppercase font-oswaldBold"
    >
      <p class="-mb-1">R 3-7</p>
      <p class="text-sm uppercase">
        <span class="block -mb-1">MEDIUM</span>
        <span>HARD</span>
      </p>
    </th>
    <td class="relative border-b border-[#555]">
      <p class="font-oswald relative bottom-5 uppercase ml-2">
        <span class="block -mb-2 pt-5">
          Medium to hard moderately abrasive,
        </span>
        slightly fractured, co compotent
      </p>
      <div class="left-60 bg-[#ED2626] w-[60px] bottom-0 h-6 absolute"></div>
    </td>
  </tr>
  <tr class="border-b border-black">
    <th
      class="text-3xl px-[.35rem] bg-[#ED2625] text-secondary uppercase font-oswaldBold"
    >
      <p class="-mb-1">R 3-7</p>
      <p class="text-sm uppercase">
        <span class="block -mb-1">MEDIUM</span>
        <span>HARD</span>
      </p>
    </th>
    <td class="relative border-b border-[#555]">
      <p class="font-oswald mb-6 absolute top-0 uppercase ml-2">
        <span class="block -mb-2"> HARD SLIGHTLY ABRASIVE, compoetent</span>
      </p>
      <div class="left-72 bg-[#ED2626] w-[60px] h-6 absolute bottom-0"></div>
    </td>
  </tr>
  <tr class="border-b border-black">
    <th
      class="text-3xl px-[.35rem] bg-[#3952a4] text-secondary uppercase font-oswaldBold"
    >
      <p class="-mb-1">R1-4</p>
      <p class="text-sm uppercase">
        <span class="block py-3">Hard</span>
        <span></span>
      </p>
    </th>
    <td class="relative border-b border-[#555]">
      <p class="font-oswald mb-5 uppercase ml-2">
        <span class="block -mb-1">
          Soft to medium very abrasive to slightly abrasive, very fractured to
        </span>
        slightly broken
      </p>
      <div class="bottom-0 left-72 bg-[#1051aa] w-[180px] h-6 absolute"></div>
    </td>
  </tr>
  <tr class="border-b border-black">
    <th
      class="text-3xl px-[.35rem] bg-[#dabd23] text-secondary uppercase font-oswaldBold"
    >
      <p class="-mb-1">R1-4</p>
      <p class="text-sm uppercase">
        <span class="block -mb-1">ULTRA</span>
        <span>HARD</span>
      </p>
    </th>
    <td class="relative border-b border-[#555]">
      <p class="font-oswald mb-5 uppercase ml-2">
        <span class="block -mb-1">
          Soft to medium very abrasive to slightly abrasive, very fractured to
        </span>
        slightly broken
      </p>
      <div class="bottom-0 left-[25rem] bg-[#dabd23] w-[120px] h-6 absolute">
      </div>
    </td>
  </tr>
  <table></table>
</table>
