<table class="z-20">
  <tr>
    <th class="uppercase border-2 border-sixth" style={{ lineHeight: "16px" }}>
      <span
        class="font-bold px-3 font-oswaldBold block border-b-2 pb-1 border-black"
        >MOHS</span
      >
      <span class="text-center text-sm font-oswald font-bold">
        <span class="block -mb-1"> Bit </span> type</span
      >
    </th>
    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">1</td
    >

    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">2</td
    >
    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">3</td
    >
    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">4</td
    >
    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">5</td
    >
    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">6</td
    >
    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">7</td
    >
    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">8</td
    >
    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">9</td
    >

    <td
      class="border-2 border-sixth p-1 font-oswaldBold text-xl px-[1.3rem] font-bold"
      rowspan="3">10</td
    >
  </tr>
</table>
