---
import MapDecor from "../ui/MapDecor.astro"
import PopularityShowCase from './PopularityShowCase'

---
<section class="bg-fifth py-[5.5rem] px-20 border-t-secondary  border-b-secondary border-b-2 flex gap-32">
    <MapDecor />
    <PopularityShowCase client:visible/>
</section>
