---
import MapDecor from "../ui/MapDecor.astro"
import PopularityShowCase from './PopularityShowCase'
import Map from '../../assets/map.svg'
---
<section class="bg-secondary py-[5.5rem] lg:px-20 border-t-secondary  border-b-secondary border-b-2 flex lg:gap-32 relative h-[740px] popularity-showcase">
    <PopularityShowCase client:visible/>
</section>
<style>
    .popularity-showcase {
        background-image: url('../../assets/map.svg');
        background-size: cover;
        background-position: center;
    }
</style>