---
import Header from "../../components/ui/Header.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import CoringRigHeader from '../../components/header/CoringRigHeader.astro';
import CoringRigImg from '../../components/coringrig/coringRigImg.astro';
import CoringRigContent from '../../components/coringrig/coringRigContent.astro'
import MetaTags from "../../metaTags/MetaTags";
---

<MainLayout title="Sav-Ghateh | Coring-Rig">
    <Header title="Coring rig" slot='header' subTitle="Forward drilling rig will be Europe's high reliability and china's manufacturing advantage made the perfect combination, Rig diesel engine DEUTZ, all hydraulic components from europe and the usa" underLine={true}/>

    <MetaTags pageTitle={"Sav Ghateh -  Coring rig"} description={"We have the best coring rig in the market, with unmatched quality in the market."} lang={'en'} facebookImg={""} faceBookUrl={''} keywords={"Coring rig, sav ghateh coring rig, best coring rig, buy coring rig, good quality coring rig, best quality coring rig, what is coring rig"} slot="metaTags"/>
    <CoringRigHeader slot="coringrigHeader"/>
    <section slot="projectsContent" class="bg-secondary flex justify-center flex-col items-center">
    <CoringRigImg />
    <CoringRigContent />
</section>
</MainLayout>