---
import Header from "../../components/ui/Header.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import rodsImg from '../../assets/RodsImg.jpg'

---
<MainLayout title="sav-ghateh (Contacts)">
    <Header title="rods & casing" slot='header' subTitle="Sinocoredrill drill and casing tubes are manufactured from the highest quality material, under stringent industry CDMA standards," underLine={true}/>

    <section class="bg-secondary flex justify-center flex-col items-center pt-20 text-sixth font-oswald" slot="projectsContent">
        <p class="lg:w-[1090px] w-[350px] text-xl pb-8">
            Sinocordrill drill and casing tubes are manufactured from highest quality material, under stringent industry DCDMA standards, and are field tested under a variety of conditions, in order to meet the most rigid demands in during performance and in manufacturing standards, we will make sure the compositions and specifications match the inspection report from the suppliers.  
        </p>
        <img src={rodsImg.src} alt="rods" class="w-[1090px]">
        
        <section class="lg:w-[1090px] w-[350px] pt-10 pb-20 flex flex-col gap-10">
            <div>
            <h2 class="text-xl text-primary">Raw materials</h2>
            <span class="text-sm">30CrMnSiA/XYJ850</span>
            <p class="">
                we only choose the best steel tubes in the market to manufacture our rods and pipes, spot check will be conducted after the steel tubes delivered to company.
            </p>
            </div>
            <div>
                <h2 class="text-xl text-primary">Heat treatment control</h2>
                <p class="">
                    Entire-Length or ends thermal processed willgreatly improve the material strength and increase the thread wear life of the rods and casings.We conduct eithertru-wall
                    or both ends heat treatment to the tube body, ensuring superior wear resistance, strenght,and toughness in the most demanding applications.
                </p>
                </div>
                <div>
                    <h2 class="text-xl text-primary">Size available as followings</h2>
                    <p class="">
                        Size available as followings: Wireline series: AQ, BQ, NQ, HQ, PQ
                        <br>
                        Casing: AW,BW,NW,HW, HWT, PW 
                        <br>
                        ChineseStandard:S56,S59,S75,S95,S110,S130,S75X,S75A,S95A
                    </p>
                    </div>
        </section>
    </section>
</MainLayout>