@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden !important;
}
body {
  overflow-x: hidden !important;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: theme(colors.secondary); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: theme(colors.primary); /* color of the scroll thumb */
  /* roundness of the scroll thumb */
  border: 3px solid theme(colors.tertiary); /* creates padding around scroll thumb */
}
@font-face {
  font-family: 'Teko-light';
  src: url('./assets/Teko-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Teko-regular';
  src: url('./assets/Teko-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Teko-medium';
  src: url('./assets/Teko-Medium.ttf') format('truetype');
  font-weight: 500; /* semi-bold is often represented by font-weight 600 */
}
@font-face {
  font-family: 'oswald';
  src: url('./assets/OSWALD-REGULAR.TTF') format('truetype');
  font-weight: 500; /* semi-bold is often represented by font-weight 600 */
}
@font-face {
  font-family: 'oswald-light';
  src: url('./assets/OSWALD-LIGHT.TTF') format('truetype');
  font-weight: 500; /* semi-bold is often represented by font-weight 600 */
}
.unBlur {
  animation: unBlur 0.6s;
}

@keyframes unBlur {
  from {
    filter: blur(10px);
    opacity: 0.5;
  }
  to {
    filter: blur(0px);
    opacity: 1;
  }
}
.fade-in {
  animation: 10s fadeIn forwards;
}
.fade-out {
  animation: 0.3s fadeIn backwards;
}
@keyframes fadeIn {
  5% {
    filter: blur(0px);
    opacity: 1;
  }
  85% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(10px);
    opacity: 0;
  }
}
.active {
  color: theme(colors.primary);
}
@keyframes rotateFadeOut {
  40% {
    transform: rotate(1turn) scale(0.4);
  }
  50% {
    opacity: 0;
  }
}
@keyframes rotateFadeIn {
  40% {
    transform: rotate(1turn) scale(0.4);
    opacity: 0;
  }
  100% {
    scale: (1);
    opacity: 1;
  }
}
