<section class="bg-white flex justify-center items-center text-sixth font-oswald">
<div class="flex flex-col  justify-end  gap-6 py-2  lg:py-10 lg:w-[35rem]  ">
    <div class="flex flex-col gap-2">
        <h2 class=" text-primary text-xl font-oswaldLight">our contacts</h2>
        <hr class="w-44 text-primary"></hr>
        <h3 class="font-oswaldBold uppercase text-4xl">
            Let's start working together.
            <br>
            Get in touch!
          </h3>
    </div> 
</div>
</section>