---
const { title, subTitle, underLine } = Astro.props;
import contImg from "../../assets/cont.png";
import aboutImg from "../../assets/about-header.jpg";
import projectsImg from "../../assets/projects-header.jpg";
import drillHeader from "../../assets/drill-accessories-header.png";
import coreBarrelImg from "../../assets/core-barrel-header.png";
import reamingShells from "../../assets/reamingshell-header.jpg";

let bgUrl = "";
if (title === "contacts") bgUrl = contImg.src;
if (title === "about us") bgUrl = aboutImg.src;
if (title === "projects") bgUrl = projectsImg.src;
if (title === "drilling accessories") bgUrl = drillHeader.src;
if (title === "core barrels") bgUrl = coreBarrelImg.src;
if (title === "reaming shells") bgUrl = reamingShells.src;
---

<header
  class="text-xl flex flex-col lg:pt-0 font-oswald h-[550px] sm:h-[550px] lg:pl-44 pl-6 sm:pl-12 w-full bg-cover object-fill bg-center header relative"
  slot="header"
  style={{
    paddingTop: "12rem",
    background: `url(${bgUrl})`,
    backgroundSize: "cover",
    backgroundPosition: "top",
  }}
>
  <h1 class="sm:text-8xl text-6xl uppercase font-oswaldBold mt-10">{title}</h1>
  {
    subTitle ? (
      <h2 class="font-oswaldLight mt-7 lg:w-[700px]">{subTitle}</h2>
    ) : (
      ""
    )
  }
  {underLine ? <hr class="absolute left-0 right-0 bottom-14 " /> : ""}
</header>
