---
import { Image } from 'astro:assets';
import logo2 from '../../assets/logo2.svg'
---
<div class="fixed z-50 w-screen h-screen top-0  bg-forth flex justify-center items-center bg-opacity-50 backdrop-blur-2xl  content-loader" style={{zIndex: 1000}}>
    <Image quality={10} src={logo2} alt="icon" class="w-[100px] h-[100px]">
</div>

<style>
    img {
        animation: blink 1s infinite alternate;
    }
    @keyframes blink{
        from {
            opacity: 0.2;
            filter: blur(5px);
            transform: rotate(360deg);
        }
        to {
            opacity: 1;
        }
    }

    @keyframes disapear{
        90% {
            opacity: 0;

        }
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const loader = document.querySelector('.content-loader');
	  if (loader) {
		(loader as HTMLDivElement).style.animation = ' disapear .5s forwards';
        setInterval(() => {
        const loader = document.querySelector('.content-loader');
        (loader as HTMLDivElement).style.animation = ' disapear .5s forwards';
        }, 500)
	  }
	});
    
</script>