---
import logoEnFull from '../../assets/logo en full.svg'
---
<>
  <div class="text-3xl uppercase flex flex-col  pl-8" >
    <img src={logoEnFull.src} alt="sav cavian" class="w-40 text-white"/>
  </div>
</>
<style>
    div {
        line-height: 25px;
    }
</style>