---
import logoEnFull from '../../assets/logo en full.svg'
import logoEnFullGrey from '../../assets/logo en full gray (1).svg'
import { Image } from 'astro:assets'
---
<>
  <div class="text-3xl uppercase z-50" >
    <Image quality={20} decoding='async' src={logoEnFull} alt="sav cavian" class=" text-white w-32 md:w-44 nav-logo" />
    <Image quality={20} decoding='async' src={logoEnFullGrey} alt="sav cavian" class=" text-white w-32 md:w-44 nav-logo-grey" />
  </div>
</>
