<>
  <div class="text-3xl uppercase flex flex-col border-l-2 border-secondary pl-5 " >
    <span> Sav</span>
    <span> ghateh</span>
    <span> kavian</span>
  </div>
</>
<style>
    div {
        line-height: 25px;
    }
</style>