---
import logoEnFull from '../../assets/logo en full.svg'
import logoEnFullGrey from '../../assets/logo en full gray (1).svg'
---
<>
  <div class="text-3xl uppercase z-50" >
    <img src={logoEnFull.src} alt="sav cavian" class=" text-white w-32 md:w-44 nav-logo" />
    <img src={logoEnFullGrey.src} alt="sav cavian" class=" text-white w-32 md:w-44 nav-logo-grey" />
  </div>
</>
