---
const {text} = Astro.props
---
<a href="#" class="transition-colors text-2xl text-secondary flex justify-between hover:text-primary cursor-pointer pl-6 gap-3"><span> {text} </span> <span>&rarr;</span></a> 